button.buttonGreen{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius: 25px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color: #FFFFFF;
    background-color:green;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    height: 250px;
    width: 200px;
    }
    button.buttonGreen:active{
        top:0.1em;
    }
    @media all and (max-width:30em){
         button.buttonGreen{
        display:block;
        margin:0.4em auto;
    }
}

button.buttonBlue{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius: 25px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    height: 250px;
    width: 200px;
    }
    button.buttonBlue:active{
        top:0.1em;
    }
    @media all and (max-width:30em){
         button.buttonBlue{
        display:block;
        margin:0.4em auto;
    }
}


button.buttonGrey{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius: 8px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:grey;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    height: 250px;
    width: 200px;
    }
    button.buttonGrey:active{
        top:0.1em;
    }
    @media all and (max-width:30em){
         button.buttonGrey{
        display:block;
        margin:0.4em auto;
    }
}

button.buttonRed{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius: 25px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:rgba(255, 0, 0, 0.707);
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    height: 250px;
    width: 200px;
    }
    button.buttonRed:active{
        top:0.1em;
    }
    @media all and (max-width:30em){
         button.buttonRed{
        display:block;
        margin:0.4em auto;
    }
}

button.false{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius: 25px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#000000;
    /* background-color:rgb(102, 101, 101); */
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    /* height: 250px; */
    /* width: 200px; */
    }
    button.false:active{
        top:0.1em;
    }
    @media all and (max-width:30em){
         button.false{
        display:block;
        margin:0.4em auto;
    }
}

button.true{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius: 25px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#000000;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    /* height: 250px; */
    /* width: 200px; */
    }
    button.true:active{
        top:0.1em;
    }
    @media all and (max-width:30em){
         button.true{
        display:block;
        margin:0.4em auto;
    }
}
